header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 48px 0;
    background-color: transparent;
    border-bottom: 1px solid #131831;
    box-shadow: 0px 5px 50px -10px #000;
}

.content {
    max-width: calc(900px - 14px);
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0 14px;
}

.logo {
    font-size: 24px;
    color: #ffffffd7;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.1s;

    &:hover {
        color: #fff;
    }
}

.favorites {
    background-color: #ffffffd7;
    padding: 5px 14px;
    color: #000;
    border-radius: 4px;
    text-decoration: none;

    transition: all 0.1s;

    &:hover {
        background-color: #fff;
    }
}
