.loading {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    gap: 5px;
    left: 0;
    top: 0;

    .bar {
        background-color: #fff;
        width: 4px;
        height: 30px;
        border-radius: 3px;

        animation: wave 0.8s infinite ease-in-out;

        &:nth-child(2) {
            animation-delay: 0.1s;
        }
        &:nth-child(3) {
            animation-delay: 0.2s;
        }
        &:nth-child(4) {
            animation-delay: 0.3s;
        }
        &:nth-child(5) {
            animation-delay: 0.4s;
        }
    }
}

@keyframes wave {
    0%,
    100% {
        height: 10px;
    }

    50% {
        height: 30px;
    }
}
